.monomaniac-one-regular {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: rgba(181, 116, 177, 0.5);
  background-image: linear-gradient(to bottom, rgb(241, 199, 242), rgba(123, 7, 98, 0.75));
  color: hsl(260, 100%, 13%);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  /* padding:10px; */
  margin: 0;
}

h1, h2 {
  font-family: "Monomaniac One", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  font-size:1.5rem;
}

img {
  filter: drop-shadow(0 4px 10px rgba(77, 30, 69, 0.664));
}

.clickImage{
  border-radius: 50%;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin: 10px
}

button {
  width:200px;
  height:50px;
  background-color: rgb(187, 119, 193);
  border: 2px solid rgb(148, 61, 119, 0.60);
  /* border-color:rgb(140, 101, 137); */
  border-radius: 20px;
  padding: 5px;
  transition: 0.3s ease, transform 0.2s;
  cursor:pointer;
  font-size: large;
}

button:hover {
  background-color: rgb(134, 57, 134);
  color: rgb(244, 234, 52);
  transform: scale(1.10);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  padding: 25px 30px;
  width: 300px;

  background: rgba(255, 255, 255, 0.285);
  backdrop-filter: blur(10px);

  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid rgba(148, 61, 119, 0.60);
}