html, body {
  height: 100%;
  margin: 0;
}
body {
  height: 100vh;
  background-color: rgba(181, 116, 177, 0.5);
  background-image: linear-gradient(to bottom, rgb(241, 199, 242), rgba(123, 7, 98, 0.75));
  color: hsl(260, 100%, 13%);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: hsl(260, 100%, 13%);
}

button {
  width:200px;
  height:50px;
  background-color: rgb(187, 119, 193);
  border-color:rgb(140, 101, 137);
}