body {
  background-color: rgba(181, 116, 177, 0.5);
  color: hsl(260, 100%, 13%);
}

button {
  width:200px;
  height:50px;
  background-color: rgb(187, 119, 193);
  border-color:rgb(140, 101, 137);
}